__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.obj
*.lib
*.exp
*.egg-info/
build/
dist/
.pytest_cache/
.vscode/
Release/
/pyllsm2/
!src/pyllsm2/*.pyi
!src/pyllsm2/py.typed
test_outputs/
tests/audio_outputs/
